.container {
    width: 100%;
    margin: 0 auto;
    background-color: #ffffff;
}

.container__text {
    max-width: 740px;
    padding: 60px 20px;
    margin: 20px auto;
}

.container__full {
    width: 100%;
}
