{
    "parserOptions": {
        "ecmaVersion": 6,
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true
        },
        "sourceType": "module"
    },
    "env": {
        "node": true,
        "es6": true
    },
    "plugins": ["prettier"],
    "extends": ["prettier"],
    "rules": {
        "no-undef": "error",
        "no-unreachable": "error",
        "no-cond-assign": ["error", "always"],
        "no-unused-vars": ["warn", { "vars": "all", "args": "after-used", "ignoreRestSiblings": false }],
        "one-var": "off",
        "init-declarations": "off",
        "no-inline-comments": "off",
        "prettier/prettier": 1
    },
    "ecmaFeatures": {
        "experimentalObjectRestSpread": true
    }
}
